.root {
    width: 750px;
    background-color: #eee;
    padding: 2px;
    border: 3px solid #ccc;
    font-size: 36px;
    .text{
      margin-top: 5px;
      color: blue;
      font-size: 36px;
      background-color: red;
    }
  }